import java.util.*;
import java.lang.*;
import java.io.*;

/* Name of the class has to be "Main" only if the class is public. */
class robo1
{
	public static void main (String[] args) throws java.lang.Exception
	{
		 int N,a,F, B, BD, FD, T,cur,time;
		 Scanner sc=new Scanner(System.in);
		N=sc.nextInt();
		for (int i = 0; i < N; ++i)
		{
			F=sc.nextInt();
			B=sc.nextInt();
			T=sc.nextInt();
			FD=sc.nextInt();
			BD=sc.nextInt();
			if(BD <= B)
			{
				a=BD*T;
				System.out.println(a +"B");
			}
			else
			{
				if(F > B)
				{
					cur = 0;
					time = 0;
					while(cur + F < FD)
					{
						time += (F + B)*T;
						cur += (F - B);
					}
					time += (FD - cur)*T;
					System.out.println(time +"F");
                
				}   
  
				else if(B > F)
				{
					cur = 0;
					time = 0;
					while(cur + B - F < BD)
					{
						time += (F + B)*T;
						cur += (B-F);
					}
					time += (BD - cur)*T;// + 2*B*T;
					System.out.println(time +"B");
               
				} 
  
				else
				{
					System.out.println("Thank God");
               
				}
			}
		}
	
	}
	
}
	

